html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	font-family: calibri;
	margin: 0;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a{
	color: white;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	background: rgb(100, 200, 200);
	display: inline-block;
	padding: 20px 5px;
	width: 100%;
	text-align: center;
	transition: all 0.5s;
}

a:hover{
	background: rgb(100, 100, 100);
}

.toggleNav{
	display: none;
}

img{
	width: 100%;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

input{
	padding: 10px;
	border: 0;
}

section, footer{
	text-align: center;
	background: rgba(0,0,0,0.2);
	padding: 20px;
	margin: 20px;
	color: white;
	font-weight: 100;
}
/*flex container*/
.flex-nav ul{
	border: 1px solid black;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}
/*flex item*/
.flex-nav li{
	flex: 3;
}

.flex-nav .social{
	flex: 1;
}

@media all and (max-width:1000px){
	.flex-nav ul{
		flex-wrap: wrap;
	}
	.flex-nav li{
		flex: 1 1 50%;
	}
	.flex-nav .social{
		flex: 1 1 25%;
	}
}

@media all and (max-width: 500px){
	.flex-nav li{
		flex-basis: 100%;
	}
	/*turn on flexbox*/
	.wrapper{
		display: flex;
		flex-direction: column;
	}
	/*reorder items*/
	.wrapper>*{
		order:999;
	}
	/*nav*/
	.flex-nav{
		order: 1;
	}
	.toggleNav{
		display: block;
	}
	.flex-nav ul{
		display: none;
	}
	.flex-nav ul.open{
		display: flex;
	}

	/*header*/
	.top{
		order: 2;
	}
	/*details*/
	.details{
		order: 3;
	}
	/*signup*/
	.signup{
		order: 4;
		display: flex;
	}
	.signup input{
		flex: 1 1;
		flex-basis: 100%;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		cursor: pointer;
	}
}